body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

header{
    background-color: rgb(47, 47, 47);
    margin: 0 auto;
    padding: 1%;
}

header > h1{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

#menu{
    display: flex;
    justify-content: space-between;
}

a{
    color: rgb(100, 100, 100);
    text-decoration: none;
}

li{
    list-style: none;
}

.menu-field{
    padding: 1.5rem;
    transition: background-color, color 0.5s ease;
    transform: scale(0.5);
}

.menu-field:hover{
    color: white;
    background-color: rgb(69, 69, 69);
    transform: scale(1.5);
}

main{
    text-align: center;
    margin-top: 5rem;
    font-size: x-large;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(47, 47, 47);
    color: rgb(126, 126, 126);
}

#menu-integrantes{
    margin-left: 2rem;
}